*{
	box-sizing: border-box;
}


html,body{
	height: 100%;
}

body{
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	background: #060621;
	color: white;
}


.container-img{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 20px;
	grid-row-gap: 20px;
}


img{
	width: 200px;
	height: auto;
	margin-bottom: 10px;
}